<% @page_title = "Delete User" %>

<div class="row">
  <%= form_for(@user, :method => 'delete') do |f| %>
		<div class="card">
			<div class="card-header">
				Are you sure you want to delete this user?
			</div>
		  <div class="card-block">
		  	<p class="card-text">
		  		<%= f.object.first_name + ' ' + f.object.last_name %> 
		  	</p>
		    <button type="submit" class="btn btn-primary">Submit</button>
		  </div>
		</div>
  <% end %>
</div>
