<% @page_title = "User Registration" %>
<div class="row">
	<div class="col-md-8">
    <p class="lead">Register today and start sharing!</p>
		<div class="card">
			<div class="card-header">
		  	Please fill the following form</h3>
		  </div>
		  <div class="card-block">
		  	<p class="card-text"></p>
		  		
				<%= form_for @user, :html => { :multipart => true } do |f| %>

					<%= render(:partial => 'form', :locals => {:f => f}) %>

					<button type="submit" class="btn btn-primary">Submit</button>

				<% end %>
			</div>
		</div>
	</div>
</div>