<% @page_title = "User Registration" %>
<div class="row">
	<div class="col-md-8">

		<div class="card">
			<div class="card-header">
		  	User Registration</h3>
		  </div>
		  <div class="card-block">
		  	<p class="card-text">Please fill the following</p>
		  		
				<%= form_for(@user) do |f| %>

					<%= render(:partial => 'form', :locals => {:f => f}) %>

					<button type="submit" class="btn btn-default">Submit</button>

				<% end %>
			</div>
		</div>
	</div>
</div>