# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 23c25c939f9006dd9ff80a0aa6f3903963d8c96516960b72f12945e0e507942286d8357d97b95144a7654824c92fb8f8f903a8fea9d700bbed8c6256e502a164

test:
  secret_key_base: bcad6b0d971a57347c1529311e189ca705e1bacd012ad445c8752a8ad2cb201d2f4ee9421a1419c82fb3cf76dc8745d9efe90347e646072b4e020093251fef99

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
