<div class="row">
	<div class="col">
		<% @page_title = "Upload photo" %>
    <p class="lead">Upload new photo!</p>
		<div class="card">
			<div class="card-header">
		  	Please fill the following form
		  </div>
		  <div class="card-body">
		  		
				<%= form_for @photo, :html => { :multipart => true } do |f| %>

					<%= render(:partial => 'form', :locals => {:f => f}) %>

					<button type="submit" class="btn btn-primary">Submit</button>

				<% end %>
			</div>
		</div>
	</div>
</div>