<%= render(:partial => 'application/header') %>
<p class="lead"></p>
<% if !flash[:notice].blank? %>
  <div class="row">
    <div class="col">
      <div class="alert alert-primary" role="alert">
        <%= flash[:notice] %>
      </div>
    </div>
  </div>
<% end %>

<%= yield %>

<%= render(:partial => 'application/footer') %>
