<%= render(:partial => 'application/header') %>

    <!-- Page Content -->
    <div class="container">
      <% if !flash[:notice].blank? %>
        <div class="row">
          <div class="col">
            <div class="alert alert-primary" role="alert">
              <%= flash[:notice] %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
          <%= yield %>
      </div>
      <div class="footer">
        <p>&copy; All rights reserved!</p>
      </div>   
    </div><!-- .container -->
  </body>
</html>
