<%= render(:partial => 'application/header') %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5"><%= @page_title || 'Podil' %></h1>
        <div id="main">
          <% if !flash[:notice].blank? %>
            <div class="notice">
              <%= flash[:notice] %>
            </div>
          <% end %>

          <div id="content">
            <%= yield %>
          </div>
        </div>
        <div class="footer">
          <p>&copy; All rights reserved!</p>
        </div>
      </div>      
    </div>
  </body>
</html>
