<!DOCTYPE html>
<html>
  <head>
    <title>Podil | <%= @page_title || "Welcome to Podil" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag('style', :media => 'all') %>
  </head>
  <body>
    <div class="container">

        <h1>Welcome to Podil</h1>
        <div id="main">
          <% if !flash[:notice].blank? %>
            <div class="notice">
              <%= flash[:notice] %>
            </div>
          <% end %>

          <div id="content">
            <%= yield %>
          </div>
        </div>
        <div class="footer">
          <p>&copy; All rights reserved!</p>
        </div>

    </div>
  </body>
</html>
